/**
 * Design Elements - additional CSS for the LearningWiki template
 *
 * @author:     Luca Tironi <luca.tironi@gmail.com>
 * @homepage:   http://www.burninghands.net
 */

.floatleft {float:left;}
.floatright {float:right;}

/*----------- general headline setup -----------*/
div.dokuwiki h1,
div.dokuwiki h2,
div.dokuwiki h3,
div.dokuwiki h4,
div.dokuwiki h5 {
  border: none;
  font-weight: bold;
}

div.dokuwiki h1 a,
div.dokuwiki h2 a,
div.dokuwiki h3 a,
div.dokuwiki h4 a,
div.dokuwiki h5 a,
div.dokuwiki a.nolink {
  color: __headline_color__ !important;
}

/*----------- special headlines -----------*/
div.dokuwiki h1 {font-size: 180%; margin-left: 0px;}
div.dokuwiki h2 {font-size: 160%; margin-left: 0px;}
div.dokuwiki h3 {font-size: 150%; margin-left: 0px;}
div.dokuwiki h4 {font-size: 140%; margin-left: 0px;}
div.dokuwiki h5 {font-size: 130%; margin-left: 0px;}

/*----------- indent different sections -----------*/
div.dokuwiki div.level1 {margin-left: 0px;}
div.dokuwiki div.level2 {margin-left: 0px;}
div.dokuwiki div.level3 {margin-left: 0px;}
div.dokuwiki div.level4 {margin-left: 0px;}
div.dokuwiki div.level5 {margin-left: 0px;}

div.dokuwiki table.inline th {
  background-color: __background_alt__;
  color: __text_alt__;
}

/* ---------- links ---------- */
div.dokuwiki a:hover {
  color: __extern__;
}

div.dokuwiki .bar a.action {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

/*--------- external link --------------*/
div.dokuwiki a.urlextern {
  background: transparent url(images/urlextern.png) 0px 1px no-repeat;
}

/* ---------- Top Navigation ----------- */
div.dokuwiki div#navbar {
  display: block;
  width: 100%;
  float: left;
  border-top: 1px solid __lightgray__;
  border-bottom: 1px solid __lightgray__;
}

div.dokuwiki div#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}

div.dokuwiki div#navbar ul li {
  float: left;
  margin: 0;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid __lightgray__;
}

div.dokuwiki div#navbar a {
  color: __extern__;
  text-decoration: none;
}

div.dokuwiki div#navbar a:hover {
  text-decoration: underline;
}

div.dokuwiki div#navbar a.wikilink2 {
  border-bottom: none !important;
}

div.dokuwiki div#navbar a.urlextern,
div.dokuwiki div#navbar a.interwiki {
  padding: 0.4em;
  padding-left: 0.8em;
  background-image: none;
}

div.dokuwiki div#navbar li {
  margin: 0;
  padding: 0;
  position: relative;
}

div.dokuwiki div#navbar ul ul {
  border: none;
  position: absolute;
  z-index: 500;
  background: #ddd;
}

div.dokuwiki div#navbar ul ul ul {
  top: 0;
  left: 100%;
  border-left: 5px solid __border__;
  margin-top: 5px;
}

div.dokuwiki div#navbar ul ul,
div.dokuwiki div#navbar ul li:hover ul ul,
div.dokuwiki div#navbar ul ul li:hover ul ul {
  display: none;
}

div.dokuwiki div#navbar ul li:hover ul,
div.dokuwiki div#navbar ul ul li:hover ul,
div.dokuwiki div#navbar ul ul ul li:hover ul {
  display: block;
}

div.dokuwiki .navi_clearer {
  clear: both;
  margin-bottom: 1.8em;
}

/*--------- buttons -----------*/
html > body div.dokuwiki input.button,
html > body div.dokuwiki button.button {
}

/* ---------- table of contents ---------- */
div.dokuwiki div.toc {
  margin-left: 1em;
  margin-top: 1.1em;
}

div.dokuwiki div.tocheader {
  background-color: __background_neu__;
  font-weight: normal;
  padding-top: 0.3em;
  padding-left: 0.3em;
  color: __text_alt__;
  line-height: 100%;
}

div.dokuwiki div.tocheader img {
  margin-top: 0.1em;
}

div.dokuwiki #toc__inside {
  background-color: __page_background__;
}

div.dokuwiki #toc__inside ul {
  margin: 0em;
  padding-left: 0.8em;
}

div.dokuwiki div.breadcrumbs,
div.dokuwiki div.pageinfo,
div.dokuwiki div.userinfo {
  font-size: 80%;
  background: __background__;
  color: __lightgray__;
}

div.dokuwiki pre {
  font-size: 120% !important;
  font-size: 100%;
}

/* ---------- Actionlinks ---------- */
div.dokuwiki a.login {
}

div.dokuwiki a.logout {
}

div.dokuwiki a.index {
  background: transparent url(images/tool-index.png) 1px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.recent {
  background: transparent url(images/tool-recent.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.create,
div.dokuwiki a.edit,
div.dokuwiki a.npd {
  background: transparent url(images/tool-edit.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.source,
div.dokuwiki a.show {
  background: transparent url(images/tool-source.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.admin {
  background: transparent url(images/tool-admin.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.revisions {
  background: transparent url(images/tool-revisions.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.subscribe,
div.dokuwiki a.unsubscribe {
  background: transparent url(images/tool-subscribe.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.backlink {
  background: transparent url(images/tool-backlink.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.profile {
  background: transparent url(images/tool-profile.png) 0px 1px no-repeat;
  padding: 1px 0px 1px 18px;
}

div.dokuwiki a.top {
  background: transparent url(images/tool-top.png) right 2px no-repeat;
  padding: 1px 20px 1px 0px;
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.dokuwiki input#edit__summary {
  width: 300px;
}
